<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <% include partials/form %>
    </div>
    <div class="col-sm-8"> 
      <h4>Title</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium optio animi delectus eveniet nam aspernatur quam nesciunt ipsam id ipsa, dolores neque suscipit saepe veniam temporibus ipsum tempore rerum! Quasi fugiat delectus optio iste assumenda sit reiciendis animi quam rem at, placeat, ad dignissimos incidunt tenetur maiores ipsum quos. Hic enim distinctio numquam. A nesciunt vel, doloribus dolore quibusdam inventore? Dolorum perferendis facilis voluptatibus asperiores nemo ullam corporis aliquam eaque inventore qui. Accusamus id sed doloribus aspernatur maxime eius officiis velit, eaque tenetur. Nobis eius iste distinctio sequi modi esse vel, nisi fuga, aliquam debitis nostrum eveniet vero accusamus fugit praesentium quod adipisci perferendis placeat quaerat inventore natus obcaecati ea consequatur. Impedit at iusto officiis facere minus accusantium, enim eos autem quia laudantium suscipit rerum rem veritatis perferendis? Corporis, quis ea at obcaecati ipsam ipsa dolore ratione pariatur maxime architecto, sit debitis? Omnis beatae repellat molestiae architecto sit ab alias dolor optio laudantium dolorem! Cum aliquam quam temporibus, necessitatibus exercitationem asperiores quaerat molestiae explicabo cupiditate! Quo, nesciunt saepe. Consequuntur, illum ipsa? Expedita accusantium praesentium labore quam dolorem eveniet ratione veniam sunt nulla! Molestias aliquam quis facere error dicta nemo ea ab eaque optio ut, eum explicabo fugit eligendi, vel fuga at nesciunt distinctio? Placeat quod voluptatibus dignissimos dolorum rerum minima itaque, qui sint repudiandae voluptas perspiciatis, pariatur molestias quidem velit quaerat quas officiis dicta tempore porro alias. Ad dolorem cumque reiciendis quos id, sed unde obcaecati labore debitis illo corporis vero eos earum commodi autem maxime iure nulla. Eligendi vero quasi neque architecto delectus ea cum exercitationem animi ducimus aliquam iste illum assumenda tempora placeat quam suscipit blanditiis, illo veritatis incidunt itaque esse possimus sequi consequatur. Corporis velit deserunt maiores magni voluptate consequatur aliquid, corrupti debitis at odio, quisquam suscipit tenetur voluptates consequuntur quaerat sapiente quod nihil quis necessitatibus. Libero.</p>
    </div>
    

  </div>
  
</div>
<% include partials/footer %>


</body>
<% include partials/script %>
</html>