<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container">
    <div class="row justify-content-md-center">          
        <div class="col-md-auto">
            <h1>Регистрация на сайте</h1>

            <% include partials/form-reg %>

        </div>
    </div>
</div>


<% include partials/footer %>

</body>
<% include partials/script %>
</html>