html {
  position: relative;
  min-height: 100%;
}
body {
  /* margin-bottom: 60px; */
}


.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar {
  /* padding-top: 5px;
  padding-bottom: 5px; */
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

.active>a {
color: #1abc9c !important;;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Карусель базовый класс */
.carousel {
  height: 100%;
  
}
/* С момента расположения изображения мы должны помочь в заголовке */
.carousel-caption {
  z-index: 10;
}

/* Объявить высоты из -за позиционирования элемента IMG */
.carousel .item {
  height: 90vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Пространство из начальной загрузки <hr> Подробнее */
}

/* Понизить маркетинговые заголовки*/
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}





.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Установите фиксированную высоту нижнего колонтитула здесь */
  height: 60px;
  background-color: #f8f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Увеличить размер содержания каруселей*/
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
